body{
    background-color: #152238;
}
.image{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.game{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
}
.player{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    font-style: oblique;
    margin-bottom: 10px;
}

.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9{
    position: relative;
    padding: 15px;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    margin: -10px;
    display: inline-block;
    cursor: pointer;
}

.restart{
    text-align: center;
}

.btnRestart {
  appearance: none;
  backface-visibility: hidden;
  background-color: #E57A44;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btnRestart:hover {
  background-color: #ECB390;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.btnRestart:active {
  transform: translateY(2px);
  transition-duration: .35s;
}


.results{
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E3138;
    background-color: #C8D6AF;
    border-radius: 10px;
    margin:  50px 600px 10px 600px;
    padding: 10px;
}

.X, .O, .Tie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E3138;
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
.resultX, .resultO, .resultTie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E3138;
    position: relative;
    display: inline-block;
}

.choosePlayer{
    font-size: 15px;
}
.btnX, .btnO{
   background-color: transparent;
   cursor: pointer;
   height: 16px;
   border: none;
   
}
.Ximg, .Oimg{
    width: 30px;
    height: 30px;
}

