body{
    background-color: #152238;
}
.image{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.game{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
}
.player{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    font-style: oblique;
    margin-bottom: 10px;
}
.draw{
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
}

.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9{
    position: relative;
    padding: 10px;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    margin: -5px;
    display: inline-block;
    cursor: pointer;
}

